gmtx.ru {
    reverse_proxy frontend:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

cp.gmtx.ru {
    reverse_proxy backend:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

static.gmtx.ru {
    reverse_proxy static:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}